<%- include('./layout/Header') %>
<%- include('./layout/Navbar') %>
    <div class="showcase">
        <h1>About <span class="green-text"> Sayyas Diary</span></h1>
        <p>Simple App make by Express</p>
        <p>Version 1.0.0</p>
        <link rel="stylesheet" href="/style.css">
    </div>
    <%- include('./layout/Footer') %>