<%- include('./layout/Header') %>
<%- include('./layout/Navbar') %>
    <div class="showcase">
        <h1>Welcome to Sayyas <span class="green-text">Diary</span></h1>
        <p>Record Your Daily Live</p>
        <a href="/diary">Open Your Diary</a>
        <link rel="stylesheet" href="/style.css">
    </div>

    <%- include('./layout/Footer') %>